/**
 * OUR SETTINGS
 */

// Colors
$white:                         #ffffff;
$black:                         #000000;
$red:                           #DE1027;

$backgroundLight:               #E0E9F2;
$borderLight:                   #C8D5E6;

$baseTextColor:                 #4C4C4C;

// Dimensions
$pageMaxWidth:                  1920px;
$pageMaxHeight:					1080px;
$contentMaxWidth:               800px;

// Fonts
$base-font-family:				Arial, sans-serif;
$base-font-size:				10px;

$alert-font-size:				12px;
$alert-line-height:				16px;
