{% extends "page/customized/base.twig" %}

{% block content %}
    {% set skipAll = 0 %}
    {% set skipClock = 0 %}
    {% set skipClients = 1 %}
    {% set skipTime = 1 %}
    {{ parent() }}
{% endblock %}

{% block tableLayoutSettings %}
<script type="text/javascript">
// Allow multiple columns
window.bo.zmscalldisplay.tableLayout.multiColumns = 2;
// Maximum rows per column
window.bo.zmscalldisplay.tableLayout.maxResults = 6;
// Label on left side of table
window.bo.zmscalldisplay.tableLayout.head.left = 'Nummer';
// Label on right side of table
window.bo.zmscalldisplay.tableLayout.head.right = 'Raum';
// Time in seconds to show a new number highlighted
window.bo.zmscalldisplay.queue.timeUntilOld = 60;
// Time in seconds to reload waiting info
window.bo.zmscalldisplay.queue.timeWaitingInfo = 60;
// called=ohne Abholer; pickup=nur Abholer
//window.bo.zmscalldisplay.queue.status = 'called';
// On true show "123" instead of "123a" for room/place
window.bo.zmscalldisplay.queue.showOnlyNumeric = false;
// Seconds to reload table
//window.bo.zmscalldisplay.reloadInterval = 5;
</script>
{% endblock %}
