// Base site layout and grid

#main {
    margin:             0;
    max-width:          $pageMaxWidth;
    padding:            0;
    background-color:   $white;
}

html {
    font-family:        $base-font-family;
    font-size:			$base-font-size;
    font-weight:		bold;
    display:			block;
    color:				$baseTextColor;
    margin:				0;
    padding:			0;
}

body {
	width: 				$pageMaxWidth;
    height: 			$pageMaxHeight;
    overflow: 		    hidden;
    margin:				0;
    padding:			0;
    background: 		url(img/background_anzeige1.png) top left no-repeat #C8D5E6;
}
