/* ----------------------------------------------
    Infospalte verstecken
---------------------------------------------- */
body.noInfoColumn{
    background: url(img/background_anzeige1_behoerde_80.png) top left no-repeat #C8D5E6  !important;
}
@media screen and (max-width:900px) { /* 768 * 1366 */
    body.noInfoColumn{
        background: url(img/background_anzeige1_hoch_behoerde_80.png) top left no-repeat #C8D5E6  !important;
    }
}
@media screen and (min-width:900px) and (max-width:1180px) { /* 1080 * 1920 */
    body.noInfoColumn{
        background: url(img/background_anzeige1_hoch_1920_behoerde_80.png) top left no-repeat #C8D5E6  !important;
    }
}
@media screen and (min-width:1820px) { /* 1920 * 1080 */
    body.noInfoColumn{
        background: url(img/background_anzeige1_1920_behoerde_80.png) top left no-repeat #C8D5E6 !important;
    }
}

body.noInfoColumn .aufrufanzeige table.aufrufanzeige_aufruf {
    table-layout: auto !important;
}

/* ----------------------------------------------
    Spezial-Groessen
---------------------------------------------- */
@media screen and (max-width:900px) { /* 768 * 1366 */
    body{
        background: url(img/background_anzeige1_hoch.png) top left no-repeat #C8D5E6;
    }

    .aufrufanzeige .uhr {
        left: 21px;
        top: 110px;
        width: 275px;
        height: 275px;
    }

    .aufrufanzeige .aufrufanzeige_Datum {
        font-size: 20px;
        left: 21px;
        top: 410px;
        width: 275px;
    }

    .aufrufanzeige .aufrufanzeige_main {
        left: 330px;
        top: 110px;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf td,
    .aufrufanzeige table.aufrufanzeige_aufruf th {
        border-right: 4px solid #C8D5E6;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf th {
        font-size: 20px;
        line-height: 37px;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf th.wartenummer {
        width: 61.5%;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf {
        width:376px;
    }

    .aufrufanzeige .aufrufanzeige_text {
        line-height:26px;
        left: 28px;
        top:699px;
    }

    .aufrufanzeige .waitingColumn {
        top:450px;
        left:15px;
    }

    .aufrufanzeige .wartende_aktuell {
        font-size:20px;
        width:275px;
    }

    .aufrufanzeige .wartezeit_aktuell {
        font-size:20px;
        width:275px;
    }

    .aufrufanzeige_main .displayId {
        top: 600px;
        left: 720px;
        height: 18px;
        width: 460px;
        font-size: 12px;
    }

    span.terminkundennummer {
        font-size: 50px;
        line-height: 45px;
    }

    span.terminkundennummer.smallerFont8Chars {
        font-size: 30px;
        line-height: 30px;
    }

    span.abholeranzeige {
        font-size: 30px;
        line-height: 30px;
    }

    span.terminkundenanzeige {
        font-size: 25px;
        line-height: 25px;
    }
}


@media screen and (min-width:900px) and (max-width:1180px) { /* 1080 * 1920 */
    body{
        background: url(img/background_anzeige1_hoch_1920.png) top left no-repeat #C8D5E6;
        height:1920px;
    }

    #main-header .adressangabe {
        font-size:3em;
        left:54px;
        top:22px;
    }

    .aufrufanzeige .uhr {
        left: 40px;
        top: 160px;
        width: 350px;
        height: 350px;
    }

    .aufrufanzeige .aufrufanzeige_Datum {
        font-size: 28px;
        left: 35px;
        top: 520px;
        width: 350px;
    }

    .aufrufanzeige .aufrufanzeige_main {
        left:420px;
        top:160px;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf td,
    .aufrufanzeige table.aufrufanzeige_aufruf th {
        border-right: 6px solid #C8D5E6;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf th {
        font-size: 32px;
        line-height: 54px;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf th.wartenummer {
        width:61.5%;
    }

    .aufrufanzeige table.einspaltig {
        width: 580px;
    }

    .aufrufanzeige table.zweispaltig {
        width:280px;
    }

    .aufrufanzeige .aufrufanzeige_text {
        line-height:26px;
        left: 28px;
        top:985px;
        width:350px;
    }

    .aufrufanzeige .waitingColumn {
        top:580px;
        left:35px;
    }

    .aufrufanzeige_main .displayId {
        top: 680px;
        left: 1016px;
        height: 20px;
        width: 540px;
        font-size: 13px;
    }

    .aufrufanzeige_text img {
        height: 260px;
    }

    .aufrufanzeige_text .qrContainer {
        width: 100%;
        text-align: right;
    }

    .aufrufanzeige .wartende_aktuell {
        font-size:26px;
        width:350px;
    }

    .aufrufanzeige .wartezeit_aktuell {
        font-size:26px;
        width:350px;
    }
  span.terminkundennummer.abholeranzeige.abholeranzeige
	{
		font-size: 40px;
	   line-height: 40px;
	}

    span.terminkundennummer.abholeranzeige.abholeranzeige {
        font-size: 40px;
        line-height: 40px;
    }

    .zweispaltig span.terminkundennummer,
    .zweispaltig span.wartenummer, .zweispaltig span.standalone {
        font-size: 35px;
        line-height: 35px;
    }

    table.zweispaltig td.platznummer span.destination {
        font-size: 25px;
    }

    span.terminkundenanzeige {
        font-size: 30px;
        line-height: 30px;
    }
}

@media screen and (min-width:1180px) and (max-width:1820px) {
    .aufrufanzeige .aufrufanzeige_main {
        top: 145px;
        width: 690px;
        left:350px;
    }
    .aufrufanzeige .aufrufanzeige_full {
        top: 145px;
        width: 1040px;
        left:350px;
    }
}

@media screen and (min-width:1820px) { /* 1920 * 1080 */
    body{
        background: url(img/background_anzeige1_1920.png) top left no-repeat #C8D5E6;
        width:1920px;
        height:1080px;
        overflow: hidden;
    }

    #main-header .adressangabe {
        font-size:3em;
        left:54px;
        top:22px;
    }

    .aufrufanzeige .uhr {
        left:47px;
        top:160px;
        width:400px;
        height:400px;
    }

    .aufrufanzeige .aufrufanzeige_Datum {
        font-size: 32px;
        top: 600px;
        width: 400px;
    }

    .aufrufanzeige .aufrufanzeige_main {
        top: 160px;
        width: 980px;
    }

    .aufrufanzeige .aufrufanzeige_full {
        top: 160px;
        width: 1450px;
    }

    span.terminkundennummer, span.wartenummer {
        font-size:80px;
        line-height:80px;
    }

    .aufrufanzeige table.zweispaltig {
        width: 280px;
    }

    span.terminkundennummer,
    span.wartenummer, span.standalone {
        font-size: 80px;
        line-height: 80px;
    }

    span.terminkundennummer.smallerFont8Chars {
      font-size: 65px;
      line-height:65px;
    }

    span.abholeranzeige {
        font-size: 70px;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf th {
        font-size: 32px;
    }

    .aufrufanzeige table.aufrufanzeige_aufruf {
        width: 980px;
    }

    .aufrufanzeige_main .displayId {
        left:           1492px;
        top:            800px;
        width:          600px;
        height:         24px;
        font-size:      16px;
    }

    .aufrufanzeige .aufrufanzeige_text {
        line-height:26px;
        left: 1535px;
        top:104px;
        width:361px;
    }
    .aufrufanzeige_text img {height:244px;}

    .aufrufanzeige .waitingColumn {
        top: 670px;
    }

    .aufrufanzeige .wartende_aktuell {
        font-size:32px;
        width:400px;
    }

    .aufrufanzeige .wartezeit_aktuell {
        font-size:32px;
        width:400px;
    }

    div.aber_zweispaltig {
        margin-left:-25px;
    }

    div.columns-3 {
        margin-left:0px;
    }

    .aufrufanzeige table.zweispaltig {
        width: 450px;
    }

    .aufrufanzeige table.zweispaltig th.wartenummer {
        width:60%;
    }

    .aufrufanzeige table.zweispaltig th,
    .aufrufanzeige table.zweispaltig td {
        border-right:6px solid #C8D5E6;
    }

    .zweispaltig span.terminkundennummer,
    .zweispaltig span.wartenummer, .zweispaltig span.standalone {
        font-size: 60px;
        line-height: 60px;
    }

    table.zweispaltig td.platznummer span.destination {
        font-size: 35px;
        line-height: 40px;
    }

    .puffer {
        padding-left: 40px;
    }

    /* ----------------------------------------------
    qr code
    ---------------------------------------------- */
    .qrCode--Headline {
        margin-top: 40px;
    }
}
