.displayIdWrapper {
  position: fixed;
  top:        0px;
  left:       0px;
  width:      0px;
  height:     0px;
}
.displayId {
  position:       relative;
  left:           1068px;
  top:            680px;
  width:          540px;
  height:         20px;
  z-index:        0;
  color:          darken(#c8d5e6, 10%);
  color:          white;
  font-size:      13px;
  font-weight:    normal;
  transform:      rotate(270deg);
  transform-origin: left;
}
