/* ----------------------------------------------
    Aufruf-Tabelle
---------------------------------------------- */

div.aufrufanzeige_anzeigebereich_einzeilig
{
	float:none;
    width: 200px;
}
div.aufrufanzeige_anzeigebereich_zweizeilig
{
	float:left;
	margin-top: auto;
/*    margin-right:3%;*/
}

.aufrufanzeige .aufrufanzeige_main
{
    left: 500px;
    position: absolute;
    top: 105px;
    width: 990px;
    height: 880px;
    overflow-y: auto;
}

.aufrufanzeige table.aufrufanzeige_aufruf
{
    border-spacing:0;
    table-layout:fixed;
    width:700px;
}
.aufrufanzeige table.aufrufanzeige_aufruf th
{
    background: $white;
    border-right: 20px solid $borderLight;
    border-top: 3px solid $borderLight;
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 45px;
    text-align:center;
}
.aufrufanzeige table.aufrufanzeige_aufruf th.wartenummer {
    width:50%;
}
.aufrufanzeige table.aufrufanzeige_aufruf td
{
    background: $backgroundLight;
    color: $black;
    border-right: 20px solid $borderLight;
    border-top: 3px solid $borderLight;
    /*font-size: 70px;
    line-height: 108px;*/
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align:center;
    padding:8px 0px;
}

.aufrufanzeige table.aufrufanzeige_aufruf td div.highlight {
    &.called span {
        color: $red;
    }
}

span.terminkundenanzeige
{
	font-weight: normal;
	font-size: 30px;
  line-height: 35px;
}
span.wartenummer
{
	font-size: 60px;
  line-height: 60px;
}
span.terminkundennummer
{
	font-size: 60px;
  line-height: 60px;
}
span.terminkundennummer.abholeranzeige
{
	font-size: 50px;
  line-height: 60px;
}
span.terminkundennummer.smallerFont8Chars {
	font-size: 45px;
	line-height:45px;
}
span.longrange {
    font-size:70px;
}
.zweispaltig span.longrange {
    font-size:30px;
}
span.standalone {
    font-size:60px;
}

.zweispaltig span.terminkundennummer,
.zweispaltig span.wartenummer, .zweispaltig span.standalone {
    font-size: 50px;
    line-height: 50px;
}

/* ----------------------------------------------
    Aufruf-Tabelle, zweispaltig
---------------------------------------------- */

div.aber_zweispaltig {
    margin-left:0px;
}
.aufrufanzeige table.zweispaltig {
    width:340px;
}
.aufrufanzeige table.zweispaltig th.wartenummer {
    width:60%;
}
.aufrufanzeige table.zweispaltig th,
.aufrufanzeige table.zweispaltig td {
    border-right:4px solid $borderLight;
}
.zweispaltig span.terminkundennummer {
    font-size:50px;
    line-height: 50px;
}
.zweispaltig span.terminkundennummer.abholeranzeige
{
    font-size: 30px;
    line-height: 30px;
}
.zweispaltig span.terminkundennummer.smallerFont8Chars {
    font-size: 40px;
    line-height: 40px;
}
.puffer {padding-left:10px;}

table.zweispaltig td.platznummer span.destination {
    font-size:30px;
}

/* ----------------------------------------------
    Bei mehr als 2 Spalten
---------------------------------------------- */

div.aufrufanzeige_full
{
    left: 10px !important;
    margin-left:0px !important;
}

div.columns-3 {
    width:100% !important;
}

div.columns-3 table {
	width:100% !important;
}
