{% use "block/default/head.twig" %}
{% use "block/default/devhint.twig" %}
{% use "block/header/pageheader.twig" %}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ currentLang() }}" lang="{{ currentLang() }}">
    {% block head %}
    	{{ parent() }}
    {% endblock %}
    <body class="hiddencursor locale_{{ currentLang() }}{% block customizedClass %}{% endblock %}" id="{% block pageid %}{% endblock %}" type="{% block pagetype %}{% endblock %}">
        {% if getSystemStatus('ZMS_ENV') in ["dev", "stage"] %}
            {% block devhint %}
            	{{ parent() }}
            {% endblock %}
            {% endif %}
            {% block pageheader %}
            	{{ parent() }}
            {% endblock %}
            <div id="aufrufanzeige" class="aufrufanzeige">
            	<div class="content">
                {% block content %}{% endblock %}
                </div>
            </div>

            {% include("element/ring.twig") %}

			<script type="text/javascript" src="{{ includeUrl() }}/_js/index.js?version={{ currentVersion() }}"></script>
            <script type="text/javascript">window.bo.zmscalldisplay.includepath="{{ includeUrl() }}"</script>
            {% if collections is not empty %}
            <script type="text/javascript">window.bo.zmscalldisplay.collections={{ collections|raw }}</script>
            {% endif %}
            {% if zmscalldisplay.reload %}
            <script type="text/javascript">window.bo.zmscalldisplay.reloadInterval={{ zmscalldisplay.reload }}</script>
            {% endif %}
            <script type="text/javascript">window.bo.zmscalldisplay.queue.timeUntilOld=60</script>
            <script type="text/javascript">window.bo.zmscalldisplay.queue.timeWaitingInfo = 60</script>
            <script type="text/javascript">window.bo.zmscalldisplay.queue.status="{{ queueStatusRequested }}"</script>
            <script type="text/javascript">window.bo.zmscalldisplay.serverTime="{{ getNow()|date('U') }}"</script>

            {% block tableLayoutSettings %}{% endblock %}
            {% if getSystemStatus('ZMS_DEBUG') %}
            <div class="debug noprint">
            <!-- httplog -->{{ dumpHttpLog() }}
            </div>
        {% endif %}
    </body>
</html>
